/* Style the tab content */
.tabcontent {
  display: none;
}
:root{
    --b:#FFD700 ;
}
/*form*/
form{
}
/*map*/
#mapid {
  height: 400px;
  width: 50%;
  left:20%;
  border: medium solid #6495ed;
  border-collapse: collapse;
  margin: 5% 15% 5% 0%;
}
/*navbar*/
ul {
  list-style-type: none;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/*body*/
#conteneur
{
    display: flex;
    justify-content: space-around;
}
.element:nth-child(2)
{
    flex: 1;
}
#filtre{
  position: absolute;
  max-width: 20%;
  top: 15%;
  margin-top: 3%;
  left: 3%;
  background-color: silver;
  border: solid;
  border-radius: 5px;
  padding: 1% 1% 1% 1%;
}
.filtre{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  position: absolute;
  left: 7%;
  margin-top: 5%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*table*/
#table1 {
max-width: 100%;
left:20%;
border: medium solid #6495ed;
border-collapse: collapse;
margin: 5% 5% 5% 35%;
}
tr:nth-of-type(2n+1) {
  background-color:#D0E3FA;
}
tr:nth-of-type(2n) {
  background-color: #D4D4D4;
}
th {
font-family: monospace;
border: thin solid #6495ed;
padding: 5px;
background-color:  #A0B5F7;
}
td {
font-family: sans-serif;
border: thin solid #6495ed;
padding: 5px;
text-align: center;
}


body{
    text-align: center;
    background-image: url("img1.jpg");
    background-size: cover;
}

/*button*/
.button {
  background-color: #00BFFF; /* blue */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #00BFFF;
}

.button1:hover {
  background-color: #00BFFF;
  color: white;
}
/*searchbar*/
.search-container {
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  background: #00BFFF;
  border: 2px solid #00BFFF;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #00BFFF;
  color: white;
}

/*checkbox*/
.container {
  display: block;
  position: relative;
  padding-left: 20%;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
label{
  font-size: 25px;

}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 25px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*div*/
#ville, #etablib, #cursuslib, #region, #formation, #diplome,#pagination{
  max-height: 300px;
  overflow:auto;
  padding: 2%;
  margin: 2%;
  border: solid 1px #2196F3;
  border-radius: 5px;
}



