/* Style the tab content */
.tabcontent {
  display: none;
}
:root{
    --b:#FFD700 ;
}
/*form*/
form{
}
/*map*/
#mapid {
  height: 500px;
  width: 50%;
  border: medium solid #6495ed;
  border-collapse: collapse;
  margin: 5% 0% 5% 0%;
}
/*navbar*/
ul {
  list-style-type: none;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
/*body*/
#conteneur
{
    display: flex;
    justify-content: space-around;
}
.element:nth-child(2)
{
    flex: 1;
}
#filtre{
  position: absolute;
  max-width: 20%;
  top: 15%;
  background-color: silver;
  border: solid;
  border-radius: 5px;
  padding: 1% 1% 1% 1%;
}
/*table*/
#table1 {
max-width: 100%;
left:20%;
border: medium solid #6495ed;
border-collapse: collapse;
margin: 5% 5% 5% 35%;
}
tr:nth-of-type(2n+1) {
  background-color:#A0B5F7;
}
tr:nth-of-type(2n) {
  background-color: silver;
}
th {
font-family: monospace;
color: white;
border: thin solid #6495ed;
padding: 5px;
background-color: black;
}
td {
font-family: sans-serif;
border: thin solid #6495ed;
padding: 5px;
text-align: center;
}



/*button*/
.button {
  background-color: #00BFFF; /* blue */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: #00BFFF; /* blue */
  border: none;
  color: white;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 70%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #00BFFF;
}

.button1:hover {
  background-color: #00BFFF;
  color: white;
}
/*searchbar*/
.search-container {
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  background: #00BFFF;
  border: 2px solid #00BFFF;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.search-container button:hover {
  background: #00BFFF;
  color: white;
}

/*checkbox*/
.container {
  display: block;
  position: relative;
  padding-left: 20%;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
label{
  font-size: 25px;

}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 25px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*div*/
#ville, #etablib, #cursuslib, #region, #formation, #diplome,#pagination, #secteur{
  max-height: 150px;
  overflow: auto;
  padding: 2%;
  margin: 2%;
  border: solid 1px #2196F3;
  border-radius: 5px;
  max-width: 250px;
}
#footer{
  position: absolute;
  border: solid black 3px;
  top: 500px;
  bottom:0;
  background-color: white;
}
table{
  position: absolute;
  margin: 5% 5% 2% 5%;
}
#compteur{
  position: absolute;
  background-color: silver;
  border: solid #6495ed 2px;
  border-radius: 2px;
  padding: 5px;
  margin:0% 0% 0% 45%;
  text-align: center;
}
#infos{
  font-family: "Montserrat", sans-serif;
    color: black;
    text-decoration: none;
    background-color: silver;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    border-radius: 5px;
}
#infoso{
  font-family: "Montserrat", sans-serif;
    color: black;
    text-decoration: none;
    background-color: silver;
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
    border: solid black 2px;
    border-radius: 5px;
}
a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:25px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; 
font-size: 25px;}
a#cRetour:hover{
  background:rgba(0, 0, 0, 0.25);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}